
header{
    height: 25px;
    background-color: black;
    color: yellow;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    padding:10px 12px;
    top:0;
}

footer{
    height: 20px;
    background-color: black;
    color: yellow;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    padding:6px 8px;
    bottom:0;
}

